<app-indexdashboard></app-indexdashboard>
<div id="main" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Kids login</h1>
                        </div>
                    </div>
                    <form action="" method="post" name="login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input name="email" class="form-control" id="email" [(ngModel)]="kidprofile.user_name" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Pin</label>
                            <input type="password" name="password" id="password" [(ngModel)]="kidprofile.pin" class="form-control" aria-describedby="emailHelp" placeholder="Enter Pin">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" id="button" class=" btn btn-block  btn-danger" (click)="AuthData()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" *ngIf="showerror">
                <div class="col-md-12">
                    <div class="alert alert-dismissable alert-warning">
                        <h4>
                            Alert!
                        </h4> <strong>Warning!</strong> {{this.error}}
                    </div>
                </div>
            </div>
        </div>
    </div>