<app-indexdashboard></app-indexdashboard>
<div id="main" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>SMS Verification</h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="form-group">

                            <input type="text" name="sms" [(ngModel)]="smscode.verificationcode" class="form-control" id="sms" aria-describedby="emailHelp" placeholder="Enter your verification code">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="button" id="button" class=" btn btn-block  btn-danger" (click)="CreateSession()">Verify</button>
                        </div>
                    </form>
                    <div class="row" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Alert!
                                </h4> <strong>Warning!</strong> {{this.error}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>