<app-indexdashboard></app-indexdashboard>
<div class="container register-form" id="main">
    <div class="form">
        <div class="note">
            <p>Parents register form</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="lab">Name:</label>
                        <input type="text" name="name" [(ngModel)]="newuser.name" class="form-control" placeholder=" Name *" value="" />
                    </div>
                    <div class="form-group">
                        <label class="lab">Lastname:</label>
                        <input type="text" name="last_name" [(ngModel)]="newuser.last_name" class="form-control" placeholder="Lastname *" value="" />
                    </div>
                    <div class="form-group">
                        <label class="lab">Country:</label>
                        <input type="text" name="country" [(ngModel)]="newuser.country" class="form-control" placeholder="Country *" value="" />
                    </div>
                    <div class="form-group">
                        <label class="lab">Phone number:</label>
                        <input type="text" name="phone" [(ngModel)]="newuser.phone" class="form-control" placeholder="Phone number *" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="lab">Birthday:</label>
                        <input type="date" class="form-control" [(ngModel)]="birthday" name="birthday" step="1" min="1980-01-01" max="2019-12-31" value="">
                    </div>
                    <div class="form-group">
                        <label class="lab">Email:</label>
                        <input type="email" name="email" [(ngModel)]="newuser.email" class="form-control" placeholder="Email *" value="" />
                    </div>
                    <div class="form-group">
                        <label class="lab">Password:</label>
                        <input type="password" class="form-control" [(ngModel)]="newuser.password" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <label class="lab">Confirm password:</label>
                        <input type="password" class="form-control" [(ngModel)]="newuser.repass" name="repass" placeholder="Confirm Password *" value="" />
                    </div>
                </div>
            </div>
            <button type="button" id="submit" class="btn btn-primary" (click)="RegisterUser()">Submit</button>
        </div>
        <div class="row" *ngIf="showerror">
            <div class="col-md-12">
                <div class="alert alert-dismissable alert-warning">
                    <h4>
                        <strong>Warning!</strong>
                    </h4> {{this.error}}
                </div>
            </div>
        </div>
    </div>
</div>