#main {
    padding-top: 3cm;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #cf1020, #fcbaaf);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.lab {
    color: #cc0605;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control {
    border-radius: 1.5rem;
}

#submit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #ee2839;
    color: #fff;
}