<app-indexdashboard></app-indexdashboard>
<div id="main" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Parents login</h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" [(ngModel)]="userlogin.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" name="password" [(ngModel)]="userlogin.password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="AuthData()">Login</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-center">Don't have account? <a href="/register" id="signup">Sign up here</a></p>
                        </div>
                    </form>
                    <div class="row" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Alert!
                                </h4> <strong>Warning!</strong> {{this.error}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="second" *ngIf="shownoactive" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <div id="first">
                <div class="myform form 2 ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Ups your account is not active!!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning">
                                <strong>Warning!</strong> Your account it´s not active please check your email and write the code here: <a href="/registerverification" class="alert-link">Account activation</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>