<nav id="main" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/parentsmain">TubeKids</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/parentsmain">Home
              <span class="sr-only">(current)</span>
            </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/videoform/add">New video</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mainprofile">Profiles</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="logout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>