<app-indexdashboard></app-indexdashboard>
<div id="maincontainer" class="container">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Parents login</h5>
                    <a href="/parentslogin" id="button" class="btn btn-light btn-block btn-default"><span class="glyphicon glyphicon-circle-arrow-right"></span> Parents Login</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Kids login</h5>
                    <a href="/kidslogin" id="button" class="btn btn-light  btn-block btn-default"><span class="glyphicon glyphicon-circle-arrow-right"></span> Kids Login</a>
                </div>
            </div>
        </div>
    </div>
</div>