<nav id="main" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="/kidsmain">TubeKids</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Log out</a>
            </li>
        </ul>
    </div>

</nav>