<app-dashboard></app-dashboard>
<div id="maincontainer" class="container">
    <h1 class="text-center text-danger">Your playlist</h1>
    <div class="row border border-danger">
        <div class="col-md-4 pb-3 pt-3" *ngFor="let video of videos">
            <div id="videocard" class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    {{video.video_name}}
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title">{{video.url}}</h5>-->
                    <button id="buttonbody" class="btn btn-success p-1" data-toggle="modal" data-target="#videoplayer" (click)="ShowVideo(video.url)">
                        Play
                        <i class="fa fa-play"></i>
                    </button>
                    <a id="buttonbody" [routerLink]="['/videoform/edit', video._id]" class="btn btn-info p-1"> Edit <i
                        class="fas fa-pen-alt p-1"></i></a>
                    <button id="buttonbody" type="button" class="btn btn-danger p-1" (click)="DeleteVideo(video._id)">
                        Delete
                            <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showerror">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-warning">
                <h4>
                    Alert!
                </h4> <strong>Warning!</strong> {{this.error}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id='videoplayer' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Video Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]='url | safeUrl' allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--https://www.youtube.com/watch?v=wXhTHyIgQ_U
https://www.youtube.com/embed/wXhTHyIgQ_U
<iframe width="560" height="315" [src]='url | safeUrl' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/MCbBMxfFiKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->