<app-dashboard></app-dashboard>
<div id="main" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Profile register form</h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" [(ngModel)]="kidprofile.name" class="form-control" aria-describedby="emailHelp" placeholder="Enter your child's name">
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input name="user_name" [(ngModel)]="kidprofile.user_name" class="form-control" aria-describedby="emailHelp" placeholder="Enter a username for the profile">
                        </div>
                        <div class="form-group">
                            <label>Pin code</label>
                            <input name="pin" [(ngModel)]="kidprofile.pin" class="form-control" aria-describedby="emailHelp" placeholder="Enter a pin code">
                        </div>
                        <div class="form-group">
                            <label>Age</label>
                            <input name="url" [(ngModel)]="kidprofile.age" class="form-control" aria-describedby="emailHelp" placeholder="Enter your child's age">
                        </div>
                        <div class="col-md-12 text-center" *ngIf="register">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="RegisterProfile()">Submit</button>
                        </div>
                        <div class="col-md-12 text-center" *ngIf="update">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="UpdateProfile()">Update</button>
                        </div>
                    </form>
                    <div class="row" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Alert!
                                </h4> <strong>Warning!</strong> {{this.error}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>