<app-dashboard></app-dashboard>
<div id="maincontainer" class="container">
    <h1 class="text-center text-danger">Your profiles
        <a id="buttonbody" class="btn btn-success  glyphicon-plus" href="/profileform">
            New
        </a>
    </h1>
    <div class="row border border-danger">
        <div class="col-md-4 pb-3 pt-3" *ngFor="let profile of profiles">
            <div id="videocard" class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    {{profile.name}}
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title">{{video.url}}</h5>-->
                    <h5>{{profile.user_name}}</h5>
                    <a id="buttonbody" [routerLink]="['/profileform/edit', profile._id]" class="btn btn-info p-1"> Edit <i
                        class="fas fa-pen-alt p-1"></i></a>
                    <button id="buttonbody" class="btn btn-danger p-1" (click)="DeleteProfile(profile._id)">
                        Delete
                            <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showerror">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-warning">
                <h4>
                    Alert!
                </h4> <strong>Warning!</strong> {{this.error}}
            </div>
        </div>
    </div>
</div>