<app-indexdashboard></app-indexdashboard>
<div id="main" class="container p-10" *ngIf="showmain">
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Register verification</h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="form-group">
                            <label for="sms">We send a registration code to your email, please enter the code below</label>
                            <input type="text" name="sms" [(ngModel)]="registercode.registrationcode" class="form-control" id="sms" aria-describedby="emailHelp" placeholder="Enter your register code">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="button" id="button" class=" btn btn-block  btn-danger" (click)="ActivateRegister()">Verify register</button>
                        </div>
                    </form>
                    <br>
                    <div class="row" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Alert!
                                </h4> <strong>Warning!</strong> {{this.error}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main" *ngIf="shownext" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <div id="first">
                <div class="myform form 2 ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Register verification completed</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success">
                                <strong>Success!</strong> Your account now it´s verify please go to the login page by clicking here: <a href="/parentslogin" class="alert-link">Go to Login</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>