<app-dashboard></app-dashboard>
<div id="main" class="container p-10">
    <div class="row">
        <div class="col-md-5 mx-auto ">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Video form</h1>
                        </div>
                    </div>
                    <form name="login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Video name</label>
                            <input name="video_name" [(ngModel)]="v.video_name" class="form-control" aria-describedby="emailHelp" placeholder="Enter a name for the video">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">URL</label>
                            <input type="url" name="url" [(ngModel)]="v.url" class="form-control" aria-describedby="emailHelp" placeholder="Enter a youtube video url">
                        </div>
                        <div class="col-md-12 text-center" *ngIf="register">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="RegisterVideo()">Submit</button>
                        </div>
                        <div class="col-md-12 text-center" *ngIf="update">
                            <button type="button" id="button" class="btn btn-block  btn-danger" (click)="UpdateVideo()">Update</button>
                        </div>
                    </form>
                    <div class="row" *ngIf="showerror">
                        <div class="col-md-12">
                            <div class="alert alert-dismissable alert-warning">
                                <h4>
                                    Alert!
                                </h4> <strong>Warning!</strong> {{this.error}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>