<app-kidsdashboard></app-kidsdashboard>
<div id="maincontainer" class="container">
    <h1 class="text-center text-danger">Your playlist</h1>
    <div class="row border border-danger">
        <div class="col-md-4 pb-3 pt-3" *ngFor="let video of videos">
            <div id="videocard" class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    {{video.video_name}}
                </div>
                <div class="card-body">
                    <!--<h5 class="card-title">{{video.url}}</h5>-->
                    <button id="buttonbody" class="btn btn-success p-1" data-toggle="modal" data-target="#videoplayer" (click)="ShowVideo(video.url)">
                        Play
                        <i class="fa fa-play"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="novideos">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-warning">
                <h4>
                    Alert!
                </h4> <strong>{{this.error}}</strong>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id='videoplayer' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Video Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]='url | safeUrl' allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="PreviousVideo()"><span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button" class="btn btn-secondary" (click)="NextVideo()"><span class="glyphicon glyphicon-forward"></span></button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>